<div class="row p-2" *ngIf="showComponent">
    <div class="col-6">
        Title : 
    </div>
    <div class="col-6">
        <input type="text" [(ngModel)]="item.title" (ngModelOptions)="{standalone : true}" class="form-control">
    </div>
    <div class="col-6">
        Description:
    </div>
    <div class="col-6">
        <input type="text" [(ngModel)]="item.description" (ngModelOptions)="{standalone : true}" class="form-control">
    </div>
    <div class="col-12">
        <button class="btn btn-success" (click)="addClickHandler()"> ADD DATA </button>
    </div>
</div>